*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/*hero section start*/

section{
    display: flex;

}
.header-one{
    width: 50%;
}
.header-one .header-body{
    margin-left: 156px;
    margin-top: 135px;
    width: 70%;
    
}
.header-one .header-body h1 {
    font-family: 'Poppins', sans-serif;
    font-family: 'Yeseva One', cursive;
    font-size: 55px;
    border-left: 3px solid rgb(255, 89, 89);
    border-radius: 2px;
    color: rgb(51, 51, 51);
    padding-left: 8px;
    line-height: 80px;
}
.header-one .header-body span{
    color: #FFAD5A;
}
.header-one .header-body p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin-top: 28px;
    margin-bottom: 30px;
}
.header-one .header-body a{
 background: #FF5959;
 border-radius: 5px;
 color: white;
 text-decoration: none;
 padding: 7px 16px;
}
.header-one img {
    margin-left: 33px;
    width: 50%;
    margin-top: 15px;
}
/*hero section end*/
/*my mission section start*/
.container{
    padding-top: 35px;
    width: 1170px;
    margin: 0 auto;
}
.myMission {
    font-size: 30px;
    margin-top: 10px;
    text-align: center;
}
.myMission h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #13103A;
    margin-bottom: 16px;
}
.myMission span{
    color: #FFAD5A;
}
.myMission-hero{
    margin-top: 20px;
    float: left;
    width: 100%;
   
}

.myMission-hero1 {
    background: rgb(79 157 166 / 10%);
    margin-left: 60px;
    float: left;
    width: 27%;
    border-radius: 22px;
}
.myMission-hero1 h1 {
    font-size: 24px;
    padding: 5px 20px;
    font-family: 'Poppins';
    font-weight: 500;
}
.myMission-hero1 p {
    padding: 12px 23px;
    font-family: 'Poppins';
    margin-bottom: 29px;
    margin-top: 4px;
}
.myMission-hero1 img{
    width: 150px;
}
.myMission-hero1:nth-child(2) {
    background: rgb(255 89 89 / 39%);
}
.myMission-hero1:nth-child(3) {
    background: rgb(241 228 194 / 92%);
}
/*my mission section end*/

/* my about section start*/
   
.about-hero {
    width: 100%;
    margin-top: 40px;
}
  .about-hero1{
      float: left;
       width:40%;
       
  }
  .about-hero1 img {
    width: 76%;
    margin-left: 45px;
}
  .about-hero2{
      float: left;
      width: 60%;
      

  }
  .about-hero2 h1 {
    line-height: 39px;
    margin-top: 32px;
    font-size: 30px;
    font-weight: 900;
}
.about-hero2 p {
    line-height: 21px;
    margin-top: 12px;
    margin-bottom: 25px;
}
.about-hero2 a {
    background: #FF5959;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    padding: 10px 21px;
}

/* my about section end */