*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: 'Inter', sans-serif;
}

/*hero section start*/

section{
    display: flex;

}
.header-one{
    width: 50%;
}
.header-one .header-body{
    margin-left: 156px;
    margin-top: 135px;
    width: 70%;
    
}
.header-one .header-body h1 {
    font-size: 48px;
    border-left: 3px solid rgb(255, 89, 89);
    border-radius: 2px;
    color: rgb(51, 51, 51);
    margin-bottom: 20px;
    padding-left: 8px;
}
.header-one .header-body span{
    color: #FFAD5A;
}
.header-one .header-body p{
    margin-top: 28px;
    margin-bottom: 19px;
}
.header-one .header-body a{
 background: #FF5959;
 border-radius: 5px;
 color: white;
 text-decoration: none;
 padding: 7px 16px;
}
.header-one img{
    margin-left: 33px;
    width: 50%;
}
/*hero section end*/
/*my mission section start*/
.container{
    padding-top: 35px;
    width: 1170px;
    margin: 0 auto;
}
.myMission {
    font-size: 30px;
    margin-top: 10px;
    text-align: center;
}
.myMission span{
    color: #FFAD5A;
}
.myMission-hero{
    margin-top: 20px;
    float: left;
    width: 100%;
   
}
.myMission-hero1 {
    background: rgb(79 157 166 / 32%);
    margin-left: 30px;
    float: left;
    width: 30%;
    border-radius: 22px;
}
.myMission-hero1 h1{
   font-size: 24px;
   padding: 5px 20px;
}
.myMission-hero1 p{
    padding: 5px 20px;
}
.myMission-hero1 img{
    width: 150px;
}
.myMission-hero1:nth-child(2) {
    background: rgb(255 89 89 / 39%);
}
.myMission-hero1:nth-child(3) {
    background: rgb(241 228 194 / 92%);
}
/*my mission section end*/
/* my about section start*/
   .about-hero{
       width: 100%;
       height: 400px;
       border: 2px solid hotpink;
       background-image: url(image/shape-1.png);
       background-size: contain;
       background-repeat: no-repeat;
       background-position-x: -20px;
   }
   .about-hero1{
       float: left;
       width: 30%;
       height: 400px;
       border: 1px solid yellow;
   }
   .about-hero1 img{
       width: 100%;
   }
   .about-hero2{
       float: left;
       width: 70%;
       border: 1px solid green;
       height: 400px;
   }

/* my about section end */